@using Enterprise.Infrastructure
@using Enterprise.Models
@using Microsoft.AspNet.Identity
@model List<Algorithm>
@{
    ViewBag.Title = "Алгоритми";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Distribute the algorithms
    var userId = User.Identity.GetUserId();
    var myAlgorithms = new List<Algorithm>();
    var publishedAlgs = new List<Algorithm>();
    foreach (var alg in Model)
    {
        if (string.Compare(userId, alg.UserId, StringComparison.InvariantCultureIgnoreCase) == 0)
        {
            myAlgorithms.Add(alg);
            continue;
        }
        publishedAlgs.Add(alg);
    }
}

<h2>Мої алгоритми</h2>
<hr />

<div class="panel">
    <div class="panel-body">
        <div style="margin-bottom: 15px;">
            @Html.ActionLink("Додати алгоритм", "CreateAlgorithm", "Manage", htmlAttributes: new {@class = "btn btn-success", @style = "margin-right: 10px;"}, routeValues: null)
        </div>
        @if (myAlgorithms.Count != 0)
        {
            <table class="content-table table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-center">Опубл.</th>
                    <th class="text-center">Назва</th>
                    <th class="text-center">Опис</th>
                    <th class="text-center">Дата створення</th>
                    <th class="text-center" style="width: 100px;">Дії</th>
                </tr>
                @foreach (var alg in myAlgorithms)
                {
                    <tr>
                        <td class="text-center" style="padding: 0; vertical-align: middle;">@(alg.Published ? 1 : 0)</td>
                        <td class="text-center" style="padding: 0; vertical-align: middle;">
                            @Html.ActionLink(alg.Name, "AlgorithmAnalysis", "Manage", routeValues: new {id = alg.Id}, htmlAttributes: new {title = "Аналіз алгоритму"})
                        </td>
                        <td style="padding: 0;">
                            @alg.Description
                        </td>
                        <td class="text-center" style="padding: 0; vertical-align: middle;">
                            @alg.DateAdd.ToUkrDateTimeString()
                        </td>
                        <td>
                            @Html.ActionLink("Розклад", "BuildSchedule", null, new {title = "Побудова розкладу", @style = "color: #00008b;"})<span> | </span>
                            @Html.ActionLink("Редагувати", "EditAlgorithm", "Manage", routeValues: new {id = alg.Id}, htmlAttributes: new {title = "Редагування алгоритм", @style = "color: #b8860b;"})<span> | </span>
                            @Html.ActionLink("Видалити", "DeleteAlgorithm", "Manage", routeValues: new {id = alg.Id}, htmlAttributes: new {title = "Видалення алгоритму", @style = "color: red;"})
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<h2>Алгоритми інших користувачів</h2>
<hr />

<div class="panel">
    <div class="panel-body">
        <table class="content-table table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Назва</th>
                <th class="text-center">Опис</th>
                <th class="text-center">Дата створення</th>
            </tr>

            @foreach (var alg in publishedAlgs)
            {
                <tr>
                    <td class="text-center" style="padding: 0; vertical-align: middle;">
                        @Html.ActionLink(alg.Name, "AlgorithmAnalysis", "Manage", routeValues: new { id = alg.Id }, htmlAttributes: new { title = "Аналіз алгоритму" })
                    </td>
                    <td style="padding: 0;">
                        @alg.Description
                    </td>
                    <td class="text-center" style="padding: 0; vertical-align: middle;">
                        @alg.DateAdd.ToUkrDateTimeString()
                    </td>
                </tr>
            }
        </table>
    </div>
</div>